/* 
    '.' = class selector 
    '#' = id selector
*/

* {
    margin: 0; 
    padding: 0; 
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body {
    height: 100vh;
    background-color: #000; 
    /* background-image: url('image.jpg');  */
    /* background-image: url('https://images.wallpaperscraft.com/image/single/color_background_surface_18481_1920x1080.jpg'); */
    background-color: #798897;
    background-size: cover;
    background-position: center;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
}

a:hover {
    color: orange;
}

/* Header */
header {
    position: relative;
    padding: 0 2rem;
}

.navbar {
    width: 100%;
    height: 60px;
    max-width: 1855px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between; 
    z-index: 2;
}

.navbar.fixed-navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    background-color: #798897;
}

.navbar .logo a {
    position: relative;
    font-size: 1.5rem;
    font-weight: bold;
}

.navbar .links {
    display: flex;
    gap: 2rem;
}

.navbar .toggle_btn {
    color: #fff;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}

.action_btn {
    background-color: orange;
    color: #fff;
    padding: 0.5rem 1rem;
    border: none; 
    outline: none;
    border-radius: 20px;
    font-size: 0.8rem;
    font-weight: bold;
    cursor: pointer;
    transition: scale .2 ease;
}

.action_btn:hover {
    scale: 1.05;
    color: #fff;
}

.action_btn:active {
    scale: 0.95;
}
.user-drop {
    position: relative;
}

.user-drop:hover #menu {
    display: block;
}

/* Additional styling for clarity */
#username {
    cursor: pointer;
    padding: 10px;
    color: #fff;
    border-radius: 5px;
}

#menu {
    display: none;
    position: absolute;
    margin-top: 10px;
    top: 100%;
    right: 50%;
    transform: translateX(50%);
    /* background: rgb(255, 255, 255, 0.1); */
    background: #FFFFF0;
    backdrop-filter: blur(15px);
    border-radius: 10px;
    z-index: 1000;
}

#menu li {
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

#menu li, a { 
    color: black;
}

#menu .action_btn {
    width: 100%;
    display: flex;
    justify-content: center;
}

/* Hide the checkbox input */
.hidden {
    display: none;
}

section#hero {
    height: calc(100vh - 60px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff;
}

#hero h1 {                                                                                                                                                              
    font-size: 3rem;
    margin-bottom: 1rem;
}

.search-bar {
    position: relative;
    display: flex;
    align-items: center;
}

.search-input {
    padding: 13px;
    box-sizing: border-box;
    border: none;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    width: 200px;
}

.search-button {
    padding: 13px;
    border: none;
    background-color: #DC143C;
    color: #fff;
    cursor: pointer;
    position: absolute;
    top: 0; 
    right: 0;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;

}

.search-results {
    position: absolute;
    top: 100%;  /* Position it below the search bar */
    left: 0;
    width: 200px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: none;
    z-index: 1;
    border-radius: 10px;
}

.result-item {
    padding: 10px;
    cursor: pointer;
    border-bottom: 1px solid #ddd;
}

.result-item:last-child {
    border-bottom: none;  /* Remove border from the last item */
}

.result-item:hover {
    background-color: #f5f5f5;
}

.feed2 {
    position: relative;
}

.mileage-container { 
    position: absolute;
    top: 90px;
    right: 400px;
}

.mileage-container #mileage-form{
    border-radius: 50px;
    padding: 5px;
}

#status-container {
    max-width: 600px;
    margin: 0 auto;
    border: 1px solid #fff;
    border-radius: 10px;
    overflow: hidden;
    position: absolute;
    top: 150px; /* Adjust the top position based on the height of mode-container */
    left: 50%;
    transform: translateX(-50%);
}

.mode-container {
    position: absolute;
    left: 0;
    top: 20;
    right: 0;


    display: flex;
    align-items: center;
    justify-content: center;
}

.modes {
    display: flex;
    position: relative;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 60px 40px -7px;
    /* adjust padding to resize the slider menu */
    padding: 0.25rem;   
    border-radius: 99px;
}

.modes * {
    z-index: 2;

}

input[type="radio"] {
    display: none;
}

.mode {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 54px;
    width: 200px;
    font-size: 1.25rem;
    font-weight: 400;
    border-radius: 99px;
    cursor: pointer;
    transition: color 0.15s ease-in;
}

input[type="radio"]:checked + label {
    color: white;
}

input[id="radio-1"]:checked ~ .glider {
    transform: translateX(0);
}

input[id="radio-2"]:checked ~ .glider {
    transform: translateX(100%);
}


.glider {
    position: absolute;
    display: flex;
    height: 54px;
    width: 200px;
    background-color: #DC143C;
    color: white;
    z-index: 1;
    border-radius: 99px;
    transition: 0.25s ease-out;
}

@media (max-width: 700px) {
    .tabs {
        transform: scale(0.6);
    }
}

#status-table {
    width: 100%; 
    border-collapse: collapse;
}

.status-image {
    width: 50px;
    height: 50px;
    /* Circle shape */
    border-radius: 50%;
     /* Ensures that the entire image is visible within the alloted circle   */
    object-fit: cover;
}

.status-user {
    display: flex;
    align-items: center;
}

.status-update {
    margin-bottom: 10px;
    overflow: hidden;
}

/* status updates (username / display name) */
.status-userinfo {
    margin-left: 5px;
    flex-grow: 1;
}

.status-details {
    display: flex;
    align-items: center;
}

.bx.bxs-map-pin {
    font-size: 32px;
}

.left-content {
    flex-grow: 0.01;
}

.left-content i { 
    vertical-align: middle;
    margin-right: 5px;
}

.right-content { 
    flex-grow: 0.1;
    overflow-x: hidden;
    max-width: 400px;
}

.right-content p {
    max-height: 200px;
    overflow-y: hidden;
}

.right-content #star {
    color: #DC143C;
}

.red-star {
    color: #DC143C;
}

.middle-bar {
    height: 50px;
    width: 1px;
    background-color: #ccc;
    margin: 0 10px;
    flex-shrink: 0;
}


.status-update td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.status-update:last-child td {
    border-bottom: none;
}

.timestamp {
    margin-left: auto;
}

.status-icons {
    font-size: 22px;
    margin-top: 10px;
}

.status-icons .like-count {
    display: inline-block;
    position: relative;
    top: -3.5px;
    right: 2px;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
}

.dyn-like-count {
    display: inline-block;
    position: relative;
    top: -3.5px;
    right: 2px;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;  
    padding: 5px;
}

.dyn-repost-count {
    display: inline-block;
    position: relative;
    top: -3.5px;
    right: 2px;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    padding: 5px;
}

.status-icons .repost-count {
    display: inline-block;
    position: relative;
    top: -3.5px;
    right: 2px;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
}

.repost-details { 
    margin-bottom: 10px;
}

#repostModal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px; /* Adjust the width as needed */
    background-color: white;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

#repostModal textarea {
    resize: none;
    display: block;
    margin-top: 10px;
    width: 100%;
}


/* works in tandem with repostModal to blur the background screen */
#status-container.blur {
    filter: blur(5px);
}

.close { 
    color: #DC143C;
    font-size: 40px;
    cursor: pointer;
    position: absolute;
    bottom: 100px;
}

#modal-content {
    margin-left: 50px;
}

#modal-content label {
    display: block;
    margin-bottom: 5px;
}

#repost-btn {
    margin-top: 10px;
    color: white;
    background-color: green;
    border-radius: 20px;
}
  

