/* 
    '.' = class selector 
    '#' = id selector
*/

* {
    margin: 0; 
    padding: 0; 
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body {
    height: 100vh;
    background: #798897; 
    /* background-image: url('image.jpg');  */
    /* background-image: url('https://images.wallpaperscraft.com/image/single/color_background_surface_18481_1920x1080.jpg'); */
    background-size: cover;
    background-position: center;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
}

a:hover {
    color: #E19895;
}

/* Header */
header {
    position: relative;
    padding: 0 2rem;
    background: #798897; 
}

.navbar {
    width: 100%;
    height: 60px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between; 
    z-index: 2;
}

.navbar.fixed-navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    background-color: #798897;
}

.navbar .logo a {
    position: relative;
    font-size: 1.5rem;
    font-weight: bold;
}

.navbar .links {
    display: flex;
    gap: 2rem;
}

.navbar .toggle_btn {
    color: #fff;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}
.user-drop {
    position: relative;
}

#menu {
    display: none;
    position: absolute;
    margin-top: 10px;
    top: 100%;
    right: 50%;
    transform: translateX(50%);
    /* background: rgb(255, 255, 255, 0.1); */
    background: #FFFFF0;
    backdrop-filter: blur(15px);
    border-radius: 10px;
}


.user-drop:hover #menu {
    display: block;
}

/* Additional styling for clarity */
#username {
    cursor: pointer;
    padding: 10px;
    color: #fff;
    border-radius: 5px;
}

#menu li {
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

#menu li, a { 
    color: black;
}

/* Hide the checkbox input */
.hidden {
    display: none;
}

/* HERO */
section#hero {
    height: calc(100vh - 60px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff;
}

#hero h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
}


/* MAP */
#map {
    height: calc(90vh - 90px);
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    /* this fixed the centering issue [rule: ceneters this div horizontally] */
    margin: 0 auto;
    border-radius: 20px;
}

/* *Info window styling */
#markerwindow {
    display: none; /* Set to none to hide it initially */
    position: absolute;
    top: 6%;
    right: 5%;
    width: 30%;
    height: calc(100vh - 90px);
    max-width: 400px; /* Set a maximum width to prevent it from becoming too wide */
    background-color: rgba(255, 255, 255, 0.75);
    border: 1px solid #ccc;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    padding: 10px;
}

/* *Search bar styling here */
.search-bar {
    position: relative;
    display: flex;
    align-items: center;
}

.search-input {
    padding: 13px;
    box-sizing: border-box;
    border: none;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    width: 200px;
}

.search-button {
    padding: 13px;
    border: none;
    background: #DC143C;
    color: #fff;
    cursor: pointer;
    position: absolute;
    top: 0; 
    right: 0;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.search-results {
    position: absolute;
    top: 100%;  /* Position it below the search bar */
    left: 0;
    width: 200px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: none;
    z-index: 1;
    border-radius: 10px;
}

.result-item {
    padding: 10px;
    cursor: pointer;
    border-bottom: 1px solid #ddd;
}

.result-item:last-child {
    border-bottom: none;  /* Remove border from the last item */
}

.result-item:hover {
    background-color: #f5f5f5;
}

.profile-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px auto;
}

.profile-info {
    /* margin(top, right, bottom, left) */
    margin: 0 20px;
    /* margin-right: 20px; */
    /* border: 1px solid #ccc; 
    border-radius: 25px;  */
    padding: 10px; 
}

.follow-stats {
    display: flex; 
    gap: 20px;
}

.stat {
    text-align: center;
}

.stat-count { 
    font-weight: bold;
    font-size: 1.2rem;
    /* need to shade this color down some */
    color: #DC143C;
    /* Control the spacing left and right */
    margin-right: 80px;
}

.stat-label {
    font-size: 0.8rem; 
    color: #555;
    /* Control the spacing left and right */
    margin-right: 80px;
}

.image-container {
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    /* Move the circle down from the top and centered horizontally */
    /* margin: 20px 300px;  */
    /* margin(top, right, bottom, left) */
    /* margin: 20px 20px 20px 300px; */
    margin: 20px auto;  
}
/* The image itself in the circle */
.profile-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.image-overlay {
    position: absolute;
    bottom: 0; /* Adjusted to place the overlay at the bottom */
    left: 0;
    width: 100%;
    height: 30%; /* Adjusted the height of the overlay */
    display: flex;
    justify-content: center; /* Center the icon horizontally */
    align-items: flex-end; /* Align the icon to the bottom */
    background-color: rgba(255, 255, 255, 0);
    opacity: 0;
    transition: opacity 0.3s ease;
}

.bx.bxs-edit-alt { 
    font-size: 24px;
    color: #fff;
    margin-bottom: 8px; /* Adjust the margin to position the icon within the circle */
}

.upload-btn {
    background-color: #3498db;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    outline: none;
}

.image-container:hover .image-overlay {
    opacity: 1;
}

#status-container {
    max-width: 600px;
    margin: 0 auto;
    border: 1px solid #fff;
    border-radius: 10px;
    overflow: hidden;
}

#status-table {
    width: 100%; 
    border-collapse: collapse;
}

.status-image {
    width: 50px;
    height: 50px;
    /* Circle shape */
    border-radius: 50%;
     /* Ensures that the entire image is visible within the alloted circle   */
    object-fit: cover;
}

.status-user {
    display: flex;
    align-items: center;
}

.status-update {
    margin-bottom: 10px;
    overflow: hidden;
}

/* status updates (username / display name) */
.status-userinfo {
    margin-left: 5px;
    flex-grow: 1;
}

.status-details {
    display: flex;
    align-items: center;
}

.bx.bxs-map-pin {
    font-size: 32px;
}

.left-content {
    flex-grow: 0.01;
}

.left-content i { 
    vertical-align: middle;
    margin-right: 5px;
}

.right-content { 
    flex-grow: 0.1;
}

.right-content #star {
    color: #DC143C;
}

.middle-bar {
    height: 50px;
    width: 1px;
    background-color: #ccc;
    margin: 0 10px;
    flex-shrink: 0;
}


.status-update td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.status-update:last-child td {
    border-bottom: none;
}

.timestamp {
    margin-left: auto;
}

.status-icons {
    font-size: 22px;
    margin-top: 10px;
}

.status-icons .like-count {
    display: inline-block;
    position: relative;
    top: -3.5px;
    right: 2px;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
}

.status-icons .repost-count {
    display: inline-block;
    position: relative;
    top: -3.5px;
    right: 2px;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
}

.bio-container {
    display: flex;
    flex-direction: column; /* Stack children vertically */
    align-items: flex-start; /* Align children to the start (left) */
    position: relative;
}

.bio-container p {
    margin: 0; /* Remove default margin for paragraphs */
}

.bio-container i { 
    align-self: flex-end; /* Align the icon to the end (right) */
    color: black;
    margin-top: -30px; 
    margin-right: 35px;
    border-radius: 50%;
    background-color: black;
    padding: 5px;               /* adjust this value for the circle size */
    opacity: 0;
    transition: opacity 0.5s ease;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.bio-container:hover i {
    opacity: 1;
}

.bio-form-container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.bio-modal-content {
    background: #fff;
    padding: 20px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;  /* Stack elements vertically */
    align-items: center;     /* Center items horizontally */
    height: 350px;
    width: 500px;
}

.bio-modal-content textarea {
    resize: none;
    margin-bottom: 10px;
    padding: 5px;
}

.to-blur {
    backdrop-filter: blur(5px);
    z-index: 999;
}

.bio-modal-btn {
    text-align: center; /* Center the buttons */
    margin-top: 10px; /* Add some space between the text areas and buttons */
}

.bio-modal-btn button {
    /* Style for both buttons */
    margin: 5px 5px; /* Add margin to separate the buttons */
    border-radius: 20px;
    padding: 5px 10px;
    font-size: 12px;
}

.bio-modal-btn button#cancel-button {
    /* Style for the Cancel button */
    background-color: red;
    color: white;
}

.bio-modal-btn button#save-button {
    /* Style for the Save button */
    background-color: green;
    color: white;
}