<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="../static/main.js"></script>
    <link rel="stylesheet" type="text/css" href="../static/cards.css">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <title>Friends</title>

    <script>
        window.onload = function () {
            tabListener();
            scrollListener();
            searchUser();
        }
    </script>
</head>

<header>
    <!-- Temporary navbar, not sure if it should be kept / if the contents should be kept -->
    <div class="navbar">
        <div class="logo"><a href="/home">Yum!</a></div>
        <ul class="links">
            <li><a href="/home">Home</a></li>
            <li><a href="/profile">Profile</a></li>
            <li><a href="#" onclick="loadfeedpage()">Feed</a></li>
            <li><a href="/friends">Friends</a></li>
            <li><a href="/about">About</a></li>
        </ul>

        <div class="search-bar">
            <input type="text" id="term" class="search-input" placeholder="Search users...">
            <button class="search-button"><i class='bx bx-search'></i></button>
            <div id="search-results" class="search-results"></div>
        </div>

        
        <div class="user-drop">
            <label for="menu-toggle" id="username">{{ username }}</label>
            <input type="checkbox" id="menu-toggle" class="hidden">
            <div id="menu" class="dropdown_menu">
                <li><a class="action">{{ username }}</a></li>
                <li><a href="/home">Home</a></li>
                <li><a href="/profile">Profile</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="logout" onclick="logout(event)">Log Out</a></li>
            </div>
        </div>

    </div>
</header>

<body>
    <div class="mode-container">
        <div class="modes">
            <input type="radio" id="radio-1" name="modes" checked />
            <label class="mode" for="radio-1"> Following </label>

            <input type="radio" id="radio-2" name="modes"/>
            <label class="mode" for="radio-2"> Follower </label>

            <span class="glider"></span>
        </div>
    </div>

    <div class="container">

        <div class="content following-content">
            {% for user in following_data %}
                <div class="cards">
                    {% if user.picture %}
                        <img src="{{ url_for('static', filename='uploads/' + user.picture) }}" alt="user-picture">
                    {% else %}
                        <img src="{{ url_for('static', filename='uploads/default.jpg') }}" alt="user-picture">
                    {% endif %}
                    <div class="card-content">
                        <a href="/profile/{{ user.username }}"><h3> {{ user.display_name }} </h3></a>
                        <p> {{ user.username }} </p>
                        <p> {{ user.bio }} </p>
                    </div>
                </div>
            {% endfor %}
        </div>

        <div class="content follower-content">
            {% for user in follower_data %}
                <div class="cards">
                    {% if user.picture %}
                        <img src="{{ url_for('static', filename='uploads/' + user.picture) }}" alt="user-picture">
                    {% else %}
                        <img src="{{ url_for('static', filename='uploads/default.jpg') }}" alt="user-picture">
                    {% endif %}
                    <div class="card-content">
                        <a href="/profile/{{ user.username }}"><h3> {{ user.display_name }} </h3></a>
                        <p> {{ user.username }} </p>
                        <p> {{ user.bio }} </p>
                    </div>
                </div>
            {% endfor %}
        </div>

    </div>

</body>

</html>