<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="../static/main.js"></script>
    <link rel="stylesheet" type="text/css" href="../static/cards.css">
    <title>Following</title>
</head>

<body>
    <div class="mode-container">
        <div class="modes">
            <input type="radio" id="radio-1" name="modes" checked />
            <label class="mode" for="radio-1"> Following </label>

            <input type="radio" id="radio-2" name="modes"/>
            <label class="mode" for="radio-2"> Follower </label>

            <span class="glider"></span>
        </div>
    </div>

    <div class="container">
        {% for user in data%}
            <div class="cards">
                {% if user.picture %}
                    <img src="{{ url_for('static', filename='uploads/' + user.picture) }}" alt="user-picture">
                {% else %}
                    <img src="{{ url_for('static', filename='uploads/default.jpg') }}" alt="user-picture">
                {% endif %}
                <div class="card-content">
                    <h3> {{ user.display_name }} </h3>
                    <p> {{ user.username }} </p>
                    <p> {{ user.bio }} </p>
                </div>
            </div>
        {% endfor %}
    </div>
</body>

</html>