<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="../static/main.js"></script>
    <link rel="stylesheet" type="text/css" href="../static/cards.css">
    <title>Document</title>
</head>

<body>
    <div class="container">
        <div class="cards">
            <img src="{{ url_for('static', filename='uploads/default.jpg') }}" alt="user-picture">
            <div class="card-content">
                <h3> Card 1 </h3>
                <p> displayname </p>
                <p> username </p>
                <p> bio field </p>
                <p> follows u tag thingy </p>
            </div>
        </div>

        <div class="cards">
            <img src="{{ url_for('static', filename='uploads/default.jpg') }}" alt="user-picture">
            <div class="card-content">
                <h3> Card 2 </h3>
                <p> displayname </p>
                <p> username </p>
                <p> bio field </p>
                <p> follows u tag thingy </p>
            </div>
        </div>

        <div class="cards">
            <img src="{{ url_for('static', filename='uploads/default.jpg') }}" alt="user-picture">
            <div class="card-content">
                <h3> Card 3 </h3>
                <p> displayname </p>
                <p> username </p>
                <p> bio field </p>
                <p> follows u tag thingy </p>
            </div>
        </div>

        <div class="cards">
            <img src="{{ url_for('static', filename='uploads/default.jpg') }}" alt="user-picture">
            <div class="card-content">
                <h3> Card 3 </h3>
                <p> displayname </p>
                <p> username </p>
                <p> bio field </p>
                <p> follows u tag thingy </p>
            </div>
        </div>

        <div class="cards">
            <img src="{{ url_for('static', filename='uploads/default.jpg') }}" alt="user-picture">
            <div class="card-content">
                <h3> Card 3 </h3>
                <p> displayname </p>
                <p> username </p>
                <p> bio field </p>
                <p> follows u tag thingy </p>
            </div>
        </div>

        <div class="cards">
            <img src="{{ url_for('static', filename='uploads/default.jpg') }}" alt="user-picture">
            <div class="card-content">
                <h3> Card 3 </h3>
                <p> displayname </p>
                <p> username </p>
                <p> bio field </p>
                <p> follows u tag thingy </p>
            </div>
        </div>


        <div class="cards">
            <img src="{{ url_for('static', filename='uploads/default.jpg') }}" alt="user-picture">
            <div class="card-content">
                <h3> Card 3 </h3>
                <p> displayname </p>
                <p> username </p>
                <p> bio field </p>
                <p> follows u tag thingy </p>
            </div>
        </div>

        <div class="cards">
            <img src="{{ url_for('static', filename='uploads/default.jpg') }}" alt="user-picture">
            <div class="card-content">
                <h3> Card 3 </h3>
                <p> displayname </p>
                <p> username </p>
                <p> bio field </p>
                <p> follows u tag thingy </p>
            </div>
        </div>


        <div class="cards">
            <img src="{{ url_for('static', filename='uploads/default.jpg') }}" alt="user-picture">
            <div class="card-content">
                <h3> Card 3 </h3>
                <p> displayname </p>
                <p> username </p>
                <p> bio field </p>
                <p> follows u tag thingy </p>
            </div>
        </div>

    </div>
</body>

</html>