<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Feed</title>
    <script src="../static/main.js"></script>
    <link rel="stylesheet" type="text/css" href="../static/feed.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>

<header>
    <!-- Temporary navbar, not sure if it should be kept / if the contents should be kept -->
    <div class="navbar">
        <div class="logo"><a href="/home">Yum!</a></div>
        <ul class="links">
            <li><a href="/home">Home</a></li>
            <li><a href="/profile">Profile</a></li>
            <li><a href="/feed">Feed</a></li>
            <li><a href="about">About</a></li>
        </ul>
        <!-- Top right corner -->
        <div class="search-bar">
            <input type="text" id="term" class="search-input" placeholder="Search users...">
            <button class="search-button">Find</button>
            <div id="search-results" class="search-results"></div>
        </div>
        
        <div class="user-drop">
            <label for="menu-toggle" id="username">{{ username }}</label>
            <input type="checkbox" id="menu-toggle" class="hidden">
            <div id="menu" class="dropdown_menu">
                <li><a class="action">{{ username }}</a></li>
                <li><a href="/home">Home</a></li>
                <li><a href="/profile">Profile</a></li>
                <li><a href="about">About</a></li>
                <li><a href="settings">Settings</a></li>
                <li><a href="logout" onclick="logout(event)">Log Out</a></li>
            </div>
        </div>

    </div>
</header>

<body>
    <!-- Following/Friends || Nearby/Custom Location -->
    <div class="categories">
        <input type="radio" id="friends" name="category" checked>
        <label for="friends">Following/Friends</label>
        <input type="radio" id="location" name="category">
        <label for="location">Nearby/Custom Location</label>
    </div> 

    <!-- ******************************************************************* -->

    <!-- <div id="status-container">
        <table id="status-table">
            {% for item in status %}
            <tr class="status-update">
                <td> {{item.author_display_name}}</td>
                <td> {{item.content}}</td>
                <td> {{item.rating}}</td>
            </tr>
            {% endfor %}
        </table>
    </div> -->

    <div id="status-container">
        <table id="status-table">
            {% for item in status %}
                <tr class="status-update">
                    <td> 
                        <div class="status-user">
                            <img src="{{ url_for('static', filename='uploads/' + item.profile_picture) }}" alt="status-picture" class="status-image"><br>
                            <div class="status-userinfo">
                                {{ item.author_display_name }}<br>
                                {{ item.username }}<br>
                            </div>
                            <div class="timestamp" data-timestamp="{{ item.timestamp }}">
                                {{ item.timestamp }}
                            </div>
                        </div>
                        <br>

                        <div class="status-details">
                            <div class="left-content">
                                <i class='bx bxs-map-pin'></i>
                                {{ item.place_title }}<br>
                            </div>
                           
                            <div class="middle-bar"></div>

                            <div class="right-content">
                                Rating: {{ item.rating }}<br> 
                                {{ item.content }}<br> 
                            </div>
                        </div>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
</body>

<script>
    timeListener();
</script>
</html>