<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot Password?</title>

    <link rel="stylesheet" type="text/css" href="../static/forgotpw.css">
    <!-- Icon Usage Here -->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'> 
    <!-- Javascript file for event handling  -->
    <script src="../static/main.js"></script>
</head>

<body>
    <header>
        <div class="navbar">
            <div class="logo"><a href="/"> Yum! </a></div>
        </div>
    </header>


    <div class="wrapper">
        <form class="form">
            <h1>Forgot Password?</h1>
            
            <div class="input-box">
                <input id="email" type="text" placeholder="Email" required>
            </div>

            <button type="button" class="btn" onclick="submitforgot()">Submit request</button>

        </form>

        <div id="error-response"></div>
    </div>
</body>

</html>