<!DOCTYPE html>
<html lang="en">

<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
<link rel="stylesheet" type="text/css" href="../static/home.css">


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <!-- Ensures that all resources are loaded  -->
    <script src="../static/main.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key={{ key }}&libraries=places&map_ids={{ mapid }}&callback=initMap"></script>
</head>

<body>
    <header>
        <!-- Temporary navbar, not sure if it should be kept / if the contents should be kept -->
        <div class="navbar">
            <div class="logo"><a href="/home">Yum!</a></div>
            <ul class="links">
                <li><a href="/home">Home</a></li>
                <li><a href="/profile">Profile</a></li>
                <li><a href="about">About</a></li>
            </ul>
            <!-- Top right corner -->
            <div class="search-bar">
                <input type="text" id="term" class="search-input" placeholder="Search users...">
                <button onclick="searchUser()" class="search-button">Find</button>
                <div id="search-results" class="search-results"></div>
            </div>
            
            <div class="user-drop">
                <label for="menu-toggle" id="username">{{ username }}</label>
                <input type="checkbox" id="menu-toggle" class="hidden">
                <div id="menu" class="dropdown_menu">
                    <li><a href="#" class="action">{{ username }}</a></li>
                    <li><a href="/home">Home</a></li>
                    <li><a href="/profile">Profile</a></li>
                    <li><a href="about">About</a></li>
                    <li><a href="settings">Settings</a></li>
                    <li><a href="logout" onclick="logout(event)">Log Out</a></li>
                </div>
            </div>

        </div>

    </header>


    <main>
        <div id="map"> 
        </div>
        <div id="markerwindow">
        </div>
    </main>

    <div id="error-response"></div>
    
</body>


</html>