<!DOCTYPE html>
<html lang="en">

<link rel="stylehsheet" type="text/css" href="../static/home.css">
<script src="../static/main.js"></script>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Yum Appie Hehe</title>
</head>

<body>
    <header>
        <div class="navbar">
            <div class="logo"><a href="#">Placeholder</a></div>
            <ul class="links">
                <li><a href="hero">Home</a></li>
                <li><a href="about">Home</a></li>
                <li><a href="services">Home</a></li>
                <li><a href="about">Home</a></li>
            </ul>
            <a href="#" class="action">Get Started</a>
            <div class="toggle_btn">
                
            </div>
        </div>
    </header>
</body>


</html>