<!DOCTYPE html>
<html lang="en">

<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
<link rel="stylesheet" type="text/css" href="../static/home.css">
<script src="../static/main.js"></script>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Yum Home</title>
</head>

<body>
    <header>
        <!-- Temporary navbar, not sure if it should be kept / if the contents should be kept -->
        <div class="navbar">
            <div class="logo"><a href="#">Yum!</a></div>
            <ul class="links">
                <li><a href="hero">Home</a></li>
                <li><a href="friends">Friends</a></li>
                <li><a href="about">About</a></li>
            </ul>
            <!-- Top right corner -->
            <a href="#" class="action">{{ username }}</a>
            <div class="toggle_btn">
                <i class='bx bx-list-ul'></i>
            </div>
        </div>
        <!-- Navigation Menu -->
        <div class="dropdown_menu">
            <li> <a href="#" class="action">{{ username }}</a> </li>
            <li><a href="hero">Home</a></li>
            <li><a href="friends">Friends</a></li>
            <li><a href="about">About</a></li>
            <li><a href="settings">Settings</a></li>
            <li><a href="logout" onclick="logout()">Log Out</a></li>
        </div>
    </header>


    <main>
        <section id="hero">
            <h1>Welcome</h1>
            <p>Here is a map of your current location </p>
        </section>
    </main>

    <div id="error-response"></div>

    <!-- *********** (DO NOT TOUCH UNLESS SOMETHING GOES WRONG) ***********
        
        This is responsible for the behavior of the drop down menu     
        
    -->
    <script> 
    const toggleBtn = document.querySelector('.toggle_btn')
    const toggleBtnicon = document.querySelector('.toggle_btn i')
    const dropdownMenu = document.querySelector('.dropdown_menu')

    toggleBtn.onclick = function () {
        dropdownMenu.classList.toggle('open')
        const isOpen = dropdownMenu.classList.contains('open')
        toggleBtnicon.classList = isOpen
            ? 'bx bx-x'
            : 'bx bx-list-ul'
    }
    </script>
</body>


</html>