<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restaurant Name Here</title>
    <link rel="stylesheet" type="text/css" href="../static/info.css">
    <script src="../static/main.js"></script>
</head>

<header>
    <!-- Temporary navbar, not sure if it should be kept / if the contents should be kept -->
    <div class="navbar">
        <div class="logo"><a href="/home">Yum!</a></div>
        <ul class="links">
            <li><a href="/home">Home</a></li>
            <li><a href="/profile">Profile</a></li>
            <li><a href="#" onclick="loadfeedpage()">Feed</a></li>
            <li><a href="/friends">Friends</a></li>
            <li><a href="/store">About</a></li>
        </ul>
        <!-- Top right corner -->
        <div class="search-bar">
            <input type="text" id="term" class="search-input" placeholder="Search users...">
            <button class="search-button"><i class='bx bx-search'></i></button>
            <div id="search-results" class="search-results"></div>
        </div>
        
        <div class="user-drop">
            <label for="menu-toggle" id="username">{{ username }}</label>
            <input type="checkbox" id="menu-toggle" class="hidden">
            <div id="menu" class="dropdown_menu">
                <li><a class="action">{{ username }}</a></li>
                <li><a href="/home">Home</a></li>
                <li><a href="/profile">Profile</a></li>
                <li><a href="about">About</a></li>
                <li><a href="settings">Settings</a></li>
                <li><a href="logout" onclick="logout(event)">Log Out</a></li>
            </div>
        </div>
    </div>
</header>




<body>
    <div class="profile-container">
        <div class="profile-name"> Testing store name </div>
        <div class="profile_picture">
            <div class="image-container">
                <img class="profile-image" src="" alt="Profile Picture"> 
            </div>
        </div>

        <div class="profile-info">
            <div class="follow-stats">
                <div class="stat">
                    <p class="stat-label">Reviews</p>
                    <p class="stat-count"> Value Here </p>
                </div>

                <div class="stat">
                    <p class="stat-label">Average Rating</p>
                    <p class="stat-count"> Value Here </p> 
                </div>

                <div class="stat">
                    <p class="stat-label">Expense Level</p>
                    <p class="stat-count"> <img src="{{ med }}" alt="Price Logo"></p> 
                </div>
            </div>
        </div>
    </div>

    <div class="mode-container">
        <div class="modes">
            <input type="radio" id="radio-1" name="modes" checked />
            <label class="mode" for="radio-1"> Reviews </label>
        
            <input type="radio" id="radio-2" name="modes" />
            <label class="mode" for="radio-2"> Food </label>
        
            <input type="radio" id="radio-3" name="modes" />
            <label class="mode" for="radio-3"> Menu </label>
        
            <input type="radio" id="radio-4" name="modes" />
            <label class="mode" for="radio-4"> Interior </label>
        
            <input type="radio" id="radio-5" name="modes" />
            <label class="mode" for="radio-5"> Exterior </label>
        
            <span class="glider"></span>
        </div>
    </div>
    
    <div class="store-content">
        <div class="review-content">
            <p> This is going to hold other peoples reviews </p>
            <p> Going to need to make a table here </p>
        </div>
    
        <div class="food-content">
            <p> This is going to be a grid for pictures to go into, possible 3x3 or 4x4 </p>
        </div>
    
        <div class="menu-content">
            <p> This is going to be a grid for pictures to go into, possible 3x3 or 4x4 </p>
        </div>
    
        <div class="interior-content">
            <p> This is going to be a grid for pictures to go into, possible 3x3 or 4x4 </p>
        </div>
    
        <div class="exterior-content">
            <p> This is going to be a grid for pictures to go into, possible 3x3 or 4x4 </p>
        </div>
    </div>
</body>

<script>
    window.onload = function () { 
        infoListener();
    }
</script>
</html>