<!DOCTYPE html>
<html lang="en">

<link rel="stylesheet" type="text/css" href="../static/login.css">
<!-- Icon Usage Here -->
<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'> 
<!-- Javascript file for event handling  -->
<script src="../static/main.js"></script>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <!-- login box -->
    <div class="wrapper">
        <form class="form">
            <h1>Sign in to Yum</h1>

            <!-- Username -->
            <div class="input-box">
                <input id="username" type="text" placeholder="Username" required>
                <i class='bx bxs-user'></i>
            </div>

            <!-- Password -->
            <div class="input-box">
                <input id="password" type="password" placeholder="Password" required>
                <i class='bx bxs-lock-alt'></i>
            </div>

            <!-- Remember Me / Forgot Password Fields -->
            <div class="remember-forgot">
                <label><input type="checkbox">Remember me</label>
                <a href="#">Forgot Password?</a>
            </div>

            <button type="submit" class="btn" onclick="login()">Login</button>
            
            <div class="register-link">
                <p>Don't have an account? <a href="#" onclick="loadregisterpage()">Register</a></p>
            </div>

        </form> 
        <div id="error-response"></div>
    </div>
    

</body>


</html>