<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Yum Buddies</title>
    <script src="../static/main.js"></script>
    <link rel="stylesheet" type="text/css" href="../static/profile.css">
</head>

<header>
    <!-- Temporary navbar, not sure if it should be kept / if the contents should be kept -->
    <div class="navbar">
        <div class="logo"><a href="/home">Yum!</a></div>
        <ul class="links">
            <li><a href="/home">Home</a></li>
            <li><a href="/profile">Profile</a></li>
            <li><a href="about">About</a></li>
        </ul>
        <!-- Top right corner -->
        <div class="search-bar">
            <input type="text" id="term" class="search-input" placeholder="Search users...">
            <button onclick="searchUser()" class="search-button">Find</button>
            <div id="search-results" class="search-results"></div>
        </div>
        <div class="user-drop">
            <label for="menu-toggle" id="username">{{ username }}</label>
            <input type="checkbox" id="menu-toggle" class="hidden">
            <div id="menu" class="dropdown_menu">
                <li><a href="#" class="action">{{ username }}</a></li>
                <li><a href="/home">Home</a></li>
                <li><a href="/profile">Profile</a></li>
                <li><a href="about">About</a></li>
                <li><a href="settings">Settings</a></li>
                <li><a href="logout" onclick="logout(event)">Log Out</a></li>
            </div>
        </div>
    </div>
</header>

<body>
    <div class="main">
        <form method="POST" action="/upload" enctype="multipart/form-data">
            <input type="file" name="profile_picture" accept="image/*" required>
            <input type="submit" value="Upload Picture">
        </form>
    </div>

    <div class="profile_picture">
        {% if current_user.picture %}
            <div class="image-container">
                <img class="profile-image" src="{{ url_for('static', filename='uploads/' + current_user.picture) }}" alt="Profile Picture">
                <div class="image-overlay">
                    <button class="upload-btn">Upload</button>
                </div>
            </div>
        {% else %}
            <div class="image-container">
                <img class="profile-image" src="{{ url_for('static', filename='uploads/default.png') }}" alt="Default Picture">
                <div class="image-overlay">
                    <button class="upload-btn">Upload</button>
                </div>
            </div>
        {% endif %}
    </div>


    <div id="error-response"></div>

</body>

</html>