<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Yum Buddies</title>
    <script src="../static/main.js"></script>
    <link rel="stylesheet" type="text/css" href="../static/profile.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <script>
        window.onload = function () {
            searchUser();
        }
    </script>
</head>

<header>
    <!-- Temporary navbar, not sure if it should be kept / if the contents should be kept -->
    <div class="navbar">
        <div class="logo"><a href="/home">Yum!</a></div>
        <ul class="links">
            <li><a href="/home">Home</a></li>
            <li><a href="/profile">Profile</a></li>
            <li><a href="/feed">Feed</a></li>
            <li><a href="about">About</a></li>
        </ul>
        <!-- Top right corner -->
        <div class="search-bar">
            <input type="text" id="term" class="search-input" placeholder="Search users...">
            <button class="search-button">Find</button>
            <div id="search-results" class="search-results"></div>
        </div>
        <div class="user-drop">
            <label for="menu-toggle" id="username">{{ username }}</label>
            <input type="checkbox" id="menu-toggle" class="hidden">
            <div id="menu" class="dropdown_menu">
                <li><a class="action">{{ username }}</a></li>
                <li><a href="/home">Home</a></li>
                <li><a href="/profile">Profile</a></li>
                <li><a href="about">About</a></li>
                <li><a href="settings">Settings</a></li>
                <li><a href="logout" onclick="logout(event)">Log Out</a></li>
            </div>
        </div>
    </div>
</header>

<body>
    <div class="profile-container">
        <div class="profile_picture">
            {% if current_user.picture %}
                <div class="image-container">
                    <img class="profile-image" src="{{ url_for('static', filename='uploads/' + current_user.picture) }}" alt="Profile Picture">
                    <div class="image-overlay">
                        <i class='bx bxs-edit-alt' onclick="toggleUploadForm()"></i>
                    </div>
                </div>
                
                <div id="upload-container" style="display: none;">
                    <form action="/upload" method="POST" id="upload-form" enctype="multipart/form-data">
                        <input type="file" id="file-input" name="profile_picture" accept="image/*">
                        <br>
                        <input type="submit" value="Upload">
                    </form>
                </div>

            {% else %}
                <div class="image-container">
                    <img class="profile-image" src="{{ url_for('static', filename='uploads/default.jpg') }}" alt="Default Picture">
                    <div class="image-overlay">
                        <i class='bx bxs-edit-alt' onclick="toggleUploadForm()"></i>
                    </div>
                </div>

                <div id="upload-container" style="display: none;">
                    <form action="/upload" method="POST" enctype="multipart/form-data">
                        <input type="file" id="file-input" name="profile_picture" accept="image/*">
                        <br>
                        <input type="submit" value="Upload">
                    </form>
                </div>
            {% endif %}
        </div>

        <div class="profile-info">
            <div class="follow-stats">
                <div class="stat">
                    <p class="stat-label">Reviews</p>
                    <p class="stat-count"> 32 </p>
                </div>
                <div class="stat">
                    <p class="stat-label">Followers</p>
                    <p class="stat-count"> 112 </p>
                </div>
                <div class="stat">
                    <p class="stat-label">Following</p>
                    <p class="stat-count"> 43 </p>
                </div>
            </div>
            <br>
            <p>Name: {{ current_user.username }}</p>
            <p>Bio: I am a great foodie that loves leaving reviews </p>
        </div>
    </div>

    {% if current_user.picture%}
    <!-- repost modal -->
    <div id="repostModal" class="modal" style="display: none;">
        <div id="modal-content">
            <span class="close" onclick="closeModal()">&times;</span>
            <label for="additionalComments">Additional Comments:</label>
            <textarea id="additionalComments" rows="4"></textarea>
            <button onclick="repostReview()">Repost</button>
        </div>
    </div>

    <div id="status-container">
        <table id="status-table">
            {% for item in reviews %}
                <tr class="status-update">
                    <td> 
                        <div class="status-user">
                            <img src="{{ url_for('static', filename='uploads/' + current_user.picture) }}" alt="status-picture" class="status-image"><br>
                            <div class="status-userinfo">
                                {{ current_user.display_name }}<br>
                                {{ current_user.username }}<br>
                            </div>
                            {% if item.comments %}
                                <div class="timestamp" data-timestamp="{{ item.timestamp }}">
                                    {{ item.timestamp }}
                                </div>
                            {% else %}
                                <div class="timestamp" data-timestamp="{{ item.timestamp }}">
                                    {{ item.timestamp }}
                                </div>
                            {% endif %}
                        </div>
                        <br>

                        {% if item.comments %}
                            <div class="repost-quote">
                                Repost Comment: {{ item.comments }}
                            </div>
                        {% endif %}

                        <div class="status-details">
                            <div class="left-content">
                                <i class='bx bxs-map-pin'></i>
                                {{ item.place_title }}<br>
                            </div>
                           
                            <div class="middle-bar"></div>

                            <div class="right-content">
                                Rating: {{ item.rating }}<br> 
                                {{ item.content }}<br> 
                            </div>
                        </div>

                        <div class="status-icons">
                            <!-- like icon -->
                            <i class='bx bx-heart' onclick="likeReview('{{ item.id }}')"></i>
                            
                            <span id="like-count-{{ item.id }}" class="like-count"> {{ item.likes }} </span>

                            <!-- repost icon -->
                            <i class='bx bx-repost' onclick="openModal('{{ item.id }}')"></i>

                            <span id="repost-count-{{ item.id }}" class="repost-count"> {{ item.reposts }}</span>
                        </div>

                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>

    {% else %}
    <!-- repost modal -->
    <div id="repostModal" class="modal" style="display: none;">
        <div id="modal-content">
            <span class="close" onclick="closeModal()">&times;</span>
            <label for="additionalComments">Additional Comments:</label>
            <textarea id="additionalComments" rows="4"></textarea>
            <button onclick="repostReview()">Repost</button>
        </div>
    </div>

    <div id="status-container">
        <table id="status-table">
            {% for item in reviews %}
                <tr class="status-update">
                    <td> 
                        <div class="status-user">
                            <img src="{{ url_for('static', filename='uploads/default.jpg') }}" alt="status-picture" class="status-image"><br>
                            <div class="status-userinfo">
                                {{ current_user.display_name }}<br>
                                {{ current_user.username }}<br>
                            </div>
                            {% if item.comments %}
                                <div class="timestamp" data-timestamp="{{ item.timestamp }}">
                                    {{ item.timestamp }}
                                </div>
                            {% else %}
                                <div class="timestamp" data-timestamp="{{ item.timestamp }}">
                                    {{ item.timestamp }}
                                </div>
                            {% endif %}
                        </div>
                        <br>

                        {% if item.comments %}
                            <div class="repost-quote">
                                Repost Comment: {{ item.comments }}
                            </div>
                        {% endif %}

                        <div class="status-details">
                            <div class="left-content">
                                <i class='bx bxs-map-pin'></i>
                                {{ item.place_title }}<br>
                            </div>
                           
                            <div class="middle-bar"></div>

                            <div class="right-content">
                                Rating: {{ item.rating }}<br> 
                                {{ item.content }}<br> 
                            </div>
                        </div>

                        <div class="status-icons">
                            <!-- like icon -->
                            <i class='bx bx-heart' onclick="likeReview('{{ item.id }}')"></i>
                            
                            <span id="like-count-{{ item.id }}" class="like-count"> {{ item.likes }} </span>

                            <!-- repost icon -->
                            <i class='bx bx-repost' onclick="openModal('{{ item.id }}')"></i>

                            <span id="repost-count-{{ item.id }}" class="repost-count"> {{ item.reposts }}</span>

                        </div>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
    {% endif %}
     

    <div id="error-response"></div>

</body>

<script>
    timeListener();
</script>

</html>