<!DOCTYPE html>
<html lang="en">

<link rel="stylesheet" type="text/css" href="../static/register.css">
<script src="../static/main.js"></script> 

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <!-- registration box -->
    <div class="wrapper">
        <form class="form">
            <h1>Register for an account</h1>

            <!-- Username -->
            <div class="input-box">
                <input id="username-reg" type="text" placeholder="Username" required>
            </div>

            <!-- Password -->
            <div class="input-box">
                <input id="password-reg" type="password" placeholder="Password" required>
            </div>

            <!-- Re-Enter Password -->
            <div class="input-box">
                <input id="confirm-password-reg" type="password" placeholder="Re-Enter Password" required>
            </div>


            <button type="submit" class="btn" onclick="register()">Create Account</button>
            

        </form> 
        <div id="error-response"></div>
    </div>
    

</body>

</html>