<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password?</title>

    <link rel="stylesheet" type="text/css" href="../static/forgotpw.css">
    <!-- Icon Usage Here -->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'> 
    <!-- Javascript file for event handling  -->
    <script src="../static/main.js"></script>

    <script>
        window.onload = function () {
            reset_listener();
        }
    </script>
</head>

<body>
    <div class="wrapper">
        <form class="form">
            <h1>Reset your password </h1>
            <input type="hidden" id="token" value="{{ token }}">
            
            <div class="input-box">
                <input id="new-pw" type="password" placeholder="New Password" required>
            </div>

            <div class="input-box">
                <input id="confirm-pw" type="password" placeholder="Confirm Password" required>
            </div>

            <button type="button" id="btn" class="btn" onclick="resetpw()">Change password</button>

        </form>

        <div id="error-response"></div>
    </div>
</body>

</html>