<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Test</title>
</head>

<body>
  <h1>Profile Picture upload</h1>
  
  <form action="/upload" method="post" enctype="multipart/form-data">
    <input type="file" name="profile_picture" accept="image/*">
    <button type="submit">Upload</button>
  </form>

  {% if profile_picture%}
    <h2> Preview: </h2>
    <img src="{{ current_user.picture }}" alt="Profile Picture">
  {% endif %}  

</body>
</html>