<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Yum Buddies</title>
    <script src="../static/main.js"></script>
    <link rel="stylesheet" type="text/css" href="../static/userprofile.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <script>
        window.onload = function () {
            searchUser();
        }
    </script>
</head>

<header>
    <!-- Temporary navbar, not sure if it should be kept / if the contents should be kept -->
    <div class="navbar">
        <div class="logo"><a href="/home">Yum!</a></div>
        <ul class="links">
            <li><a href="/home">Home</a></li>
            <li><a href="/profile">Profile</a></li>
            <li><a href="#" onclick="loadfeedpage()">Feed</a></li>
            <li><a href="/friends">Friends</a></li>
            <li><a href="/about">About</a></li>
        </ul>
        <!-- Top right corner -->
        <div class="search-bar">
            <input type="text" id="term" class="search-input" placeholder="Search users...">
            <button class="search-button"><i class='bx bx-search'></i></button>
            <div id="search-results" class="search-results"></div>
        </div>
        <div class="user-drop">
            <label for="menu-toggle" data="{{ current_user.id }}" id="username">{{ current_user.username }}</label>
            <input type="checkbox" id="menu-toggle" class="hidden">
            <div id="menu" class="dropdown_menu">
                <li><a class="action">{{ current_user.username }}</a></li>
                <li><a href="/home">Home</a></li>
                <li><a href="/profile">Profile</a></li>
                <li><a href="about">About</a></li>
                <li><a href="settings">Settings</a></li>
                <li><a href="logout" onclick="logout(event)">Log Out</a></li>
            </div>
        </div>
    </div>
</header>

<body>
    <div class="profile-container">
        <div class="profile_picture">
                <div class="image-container">
                    <img class="profile-image" src="{{ picture }}" alt="Profile Picture">
                </div>


                <div class="follow-btn-container">
                    <button id="follow-btn" class="{{ 'following' if user_is_following else 'not-following' }}" data="{{ user.id }}" onclick="followUser()"> 
                        {{'Unfollow' if user_is_following else 'Follow' }}
                    </button>
                </div>

        </div>

        <div class="profile-info">
            <div class="follow-stats">
                <div class="stat">
                    <p class="stat-label">Reviews</p>
                    <p class="stat-count"> {{ reviewq }} </p>
                </div>
                <div class="stat">
                    <p class="stat-label">Followers</p>
                    <p class="stat-count"> {{ followerq }} </p>
                </div>
                <div class="stat">
                    <p class="stat-label">Following</p>
                    <p class="stat-count"> {{ followingq }} </p>
                </div>
            </div>
            <br>

            <div class="bio-container">
                <p> <span id="bio-displayname">{{ user.display_name }}</span></p>
                {% if user.bio %}
                    <p><span id="bio-content">{{ user.bio }}</span></p>
                {% else %}
                    <p><span style="color: lightgray;" id="bio-content"> No bio yet :( </span></p>
                {% endif %}
                <i class='bx bxs-edit-alt' onclick="triggerBio()"></i>
            </div>
        </div>
    </div>

    <!-- change bio modal -->
    <div id="bio-form" class="bio-form-container">
        <div class="bio-modal-content">
            <label for="new-displayname">Change display name: </label>
            <textarea id="new-displayname" rows="1"></textarea>
            <label for="new-bio"> New Bio: </label>
            <textarea id="new-bio" rows="10"></textarea>

            <div class="bio-modal-btn">
                <button id="cancel-button" onclick="cancelBio()">Cancel</button>
                <button id="save-button" onclick="saveBio()">Save</button>
            </div>
        </div>
    </div>

    <!-- repost modal -->
    <div id="repostModal" class="modal" style="display: none;">
        <div id="modal-content">
            <span class="close" onclick="closeModal()">&times;</span>
            <label for="additionalComments">Additional Comments:</label>
            <textarea id="additionalComments" rows="4"></textarea>
            <button onclick="repostReview()">Repost</button>
        </div>
    </div>

    <div id="status-container">
        <table id="status-table">
            {% for item in reviews %}
                <tr class="status-update">
                    <td> 
                        <div class="status-user">
                            <img src="{{ picture }}" alt="status-picture" class="status-image"><br>
                            <div class="status-userinfo">
                                {{ user.display_name }}<br>
                                {{ user.username }}<br>
                            </div>
                            {% if item.comments %}
                                <div class="timestamp" data-timestamp="{{ item.timestamp }}">
                                    {{ item.timestamp }}
                                </div>
                            {% else %}
                                <div class="timestamp" data-timestamp="{{ item.timestamp }}">
                                    {{ item.timestamp }}
                                </div>
                            {% endif %}
                        </div>
                        <br>

                        {% if item.comments %}
                            <div class="repost-quote">
                                Repost Comment: {{ item.comments }}
                            </div>
                        {% endif %}

                        <div class="status-details">
                            <div class="left-content">
                                <i class='bx bxs-map-pin'></i>
                                <a href="{{ url_for('loadstorepage', marker_id=item.marker_id) }}">{{ item.place_title }}</a><br>
                            </div>
                           
                            <div class="middle-bar"></div>

                            <div class="right-content">
                                {% for i in range(1, 6) %}
                                    {% if i <= item.rating %}
                                        <i id="star" class="fas fa-star"></i>  
                                    {% else %}
                                        <i id="star" class="far fa-star"></i>  
                                    {% endif %}
                                {% endfor %} 
                                <br>
                                {{ item.content }} 
                            </div>
                        </div>

                        <div class="status-icons">
                            <!-- like icon -->
                            <i class='bx bx-heart' onclick="likeReview('{{ item.id }}')"></i>
                            
                            <span id="like-count-{{ item.id }}" class="like-count"> {{ item.likes }} </span>

                            <!-- repost icon -->
                            <i class='bx bx-repost' onclick="openModal('{{ item.id }}')"></i>

                            <span id="repost-count-{{ item.id }}" class="repost-count"> {{ item.reposts }}</span>
                        </div>

                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>


    <div id="error-response"></div>

</body>

<script>
    timeListener();
    scrollListener();
</script>

</html>